#card {
  margin-top: 5rem;
  text-align: center;
  width: 40vw;

  p {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

#container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 480px) {

  #card {
    margin-top: 3.5rem;
    text-align: center;
    width: 70%;

    p {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    .title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
  }
}