#nav-bar {

  background-color: red;

  h1 {
    font-size: 2.5rem;
  }

  .spacer {
    flex: 1 1 auto;
  }  
  
  i {
      margin-left: 3rem;
      font-size: 2.5rem;
      padding: 1rem;
    }
  
  a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
  }

  span:first-child {
    margin: 0;
  }

  span {
    margin-right: 1rem;
  }
  
  span:last-child {
    margin-right: 3rem;
  }

}

