#nav-bar {

  background-color: red;

  h1 {
    font-size: 2.5rem;
  }

  .spacer {
    flex: 1 1 auto;
  }  
  
  i {
      margin-left: 3rem;
      font-size: 2.5rem;
      padding: 1rem;
    }
  
  a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
  }

  span:first-child {
    margin: 0;
  }

  span {
    margin-right: 1rem;
  }
  
  span:last-child {
    margin-right: 3rem;
  }

  .divider {
    font-size: 1.8rem;
  }

}

@media (max-width: 480px) {

  #nav-bar {

    h1 {
      font-size: 1.5rem;
    }
  
    .spacer {
      flex: 1 1 auto;
    }  
    
    i {
        margin-left: 1.5rem;
        font-size: 1.5rem;
        padding: 1rem;
      }
    
    a {
      font-size: 1.2rem;
    }
  
    span:first-child {
      margin: 0;
    }
  
    span {
      margin-right: 1rem;
    }
    
    span:last-child {
      margin-right: 1.5rem;
    }
  
    .divider {
      font-size: 1.2rem;
    }
  
  }
}
