@import "../node_modules/normalize-scss/sass/normalize/import-now";

* {
  font-size: 10px;
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
